<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="landing_page.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <section class="banner">
            <img class="logo" src="DFS_Baseball.png" alt="">
            <h2>Welcome to Fantasy Baseball</h2>
            <img class="logo" src="RiverKings-SPHL.png" alt="">
            <h3>SS Bombers</h3>
            <img class="logo" src="ANW.png" alt="">
            <h3>League</h3>
        </section>
        <div class="ticker-wrapper">
            <div class="bigHeading">Player Stats</div>
            <div class="text-update">
                <p>
                    Ronald Acuna 817.0	
                    Freddie Freeman 666.5	
                    Matt Olson 659.5	
                    Mookie Betts 646.5	
                    Kyle Tucker 598.0	
                </p>
            </div>
        </div>
    </header>
    <Section id="dashboard">
    <div>
    <h3>Avalible Players</h3>
    <table id="Avalible Players">
        <tr>
            <th>Rank</th>
            <th>Pos</th>
            <th>Name</th>
            <th>Team</th>
            <th>PA</th>
        </tr>
        <tr>
            <td>1.</td>
            <td class="Pos">RF</td>
            <td class="Num">R,Acuna</td>
            <td class="Name">Braves</td>
            <td class="PA">6.2</td>
        </tr>
    </table>
    </div>
    <table>
        <tr>
          <th class="pic"></th>
          <th>Pos</th>
          <th>Num</th>
          <th>Name</th>
          <th>Team</th>
          <th>Points</th>
          
        </tr>
        <tr>
          <td class="pic"><img src="S,Strider.jpg"></td>
          <td class="Pos">P</td>
          <td class="Num">99</td>
          <td class="Name">S,Strider</td>
          <td class="Team">Braves</td>
          <td class="Points">9</td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">C</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
         <tr>
          <td class="pic"></td>
          <td class="Pos">1st</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
         <tr>
          <td class="pic"></td>
          <td class="Pos">2nd</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
         <tr>
          <td class="pic"></td>  
          <td class="Pos">3rd</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td>  
          <td class="Pos">SS</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">OF</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">OF</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">OF</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">DH</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">UT</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td> 
          <td class="Pos">UT</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
        <tr>
          <td class="pic"></td>  
          <td class="Pos">UT</td>
          <td class="Num"></td>
          <td class="Name"></td>
          <td class="Team"></td>
          <td class="Points"></td>
        </tr>
    </table>
    <div>
    <h3>Standings</h3>
    <table id="Standings">
        <tr>
            <th>Position</th>
            <th>Team</th>
            <th>Last Week</th>
        </tr>
        <tr>
            <td>1st</td>
            <td>RiverKings</td>
            <td>3rd</td>
        </tr>
        <tr>
            <td>2nd</td>
            <td>SS Bombers</td>
            <td>2nd</td>
        </tr>
        <tr>
            <td>3rd</td>
            <td>Keggers</td>
            <td>1st</td>
        </tr>
        <tr>
            <td>4th</td>
            <td>Yard Dogs</td>
            <td>3rd</td>
        </tr>
        <tr>
            <td>5th</td>
            <td>Stink Fish</td>
            <td>4th</td>
        </tr>
    </table>
    </div>
    </Section>
	<script src="index.js"></script>
  </body>
</html>